<link href="css/profile.css" rel="stylesheet">

<div class="row">
    
    <div class="profile-page col-12">
        
        <div class="row">
            
            <div class="profile-aside
                d-flex flex-column justify-content-center text-center
                col-12 col-sm-6 col-md-5 col-lg-3 col-xxl-3">

                <div class="profile-title">

                    <h2 class="d-block d-sm-none">
                        <%= player.username %>
                    </h2>

                </div>
        
                <div class="profile-email d-block d-sm-none">
                    <h3><%= player.email %></h3>
                </div>
        
                <div class="profile-avatar
                    d-flex flex-column justify-content-center align-items-center text-center">
        
                    <img src="images/avatars/<%= player.avatar %>.png" alt="player avatar">
        
                    <a href="/avatar">Change Avatar</a>
        
                </div>
        
                <div class="profile-configs d-flex flex-column align-items-center">
        
                    <a href="/settings">Account Settings</a>
            
                    <a href="/delete">Delete Account</a> 
        
                </div>
        
            </div>

            <div class="profile-main
                d-flex flex-column justify-content-center align-items-center text-center
                col-12 col-sm-6 col-md-5 col-lg-3 col-xxl-3">
        
                <h2 class="profile-title d-none d-sm-block">
                    <%= player.username %>
                </h2>
        
                <div class="profile-email d-none d-sm-block">
                    <%= player.email %>
                </div>

                <div class="profile-stats">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Plays: <%- player.plays -%></li>
                        <li class="list-group-item">Wins: <%- player.wins -%></li>
                        <li class="list-group-item">Draws: <%- player.draws -%></li>
                        <li class="list-group-item">Losses: <%- player.losses -%></li>
                    </ul>

                </div>
        
            </div>
        
        </div>

    </div>

</div>

<script src="js/profile.js"></script>