<link href="css/profile.css" rel="stylesheet">

<div class="row">
    
    <div class="profile-page col-12">
        
        <div class="row d-flex justify-content-center text-center">
            
            <div class="profile-aside col-12 col-sm-6 col-md-5 col-lg-3 col-xxl-3">

                <h2 class="d-block d-sm-none profile-title">
                    <%= player.username %>
                </h2>
        
                <div class="d-block d-sm-none profile-email">
                    <%= player.email %>
                </div>
        
                <div class="profile-avatar">
        
                    <img src="images/avatars/<%= player.avatar %>.png" alt="player avatar">
        
                    <div class="change-avatar">
                        <a href="/change-avatar">Change Avatar</a>
                    </div>
        
                </div>
        
                <div class="profile-account-configs d-flex flex-column align-items-center">
        
                    <a href="/edit-account">Account Settings</a>
            
                    <a href="/delete-account">Delete Account</a> 
        
                </div>
        
            </div>

            <div class="profile-main d-flex flex-column justify-content-center text-center col-12 col-sm-6 col-md-5 col-lg-3 col-xxl-3">
        
                <h2 class="d-none d-sm-block profile-title">
                    <%= player.username %>
                </h2>
        
                <div class="d-none d-sm-block profile-email">
                    <%= player.email %>
                </div>

                <div class="profile-stats">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Plays: <%- player.plays -%></li>
                        <li class="list-group-item">Wins: <%- player.wins -%></li>
                        <li class="list-group-item">Draws: <%- player.draws -%></li>
                        <li class="list-group-item">Losses: <%- player.losses -%></li>
                    </ul>

                </div>
        
            </div>
        
        </div>

    </div>

</div>

<script src="js/profile.js"></script>