<link href="css/ranking.css" rel="stylesheet">

<div class="row">

    <div class="ranking-page col-12">
    
        <div class="row d-flex justify-content-center text-center">

            <div class="ranking-title col-11 col-sm-10 col-md-9 col-lg-7">
                <h2>Ranking</h2>
            </div>
        
        </div>
        
        <div class="row d-flex justify-content-center text-center">
            
            <div class="ranking-table col-11 col-sm-10 col-md-9 col-lg-7 col-xl-6 col-xxl-5">

                <table class="table table-bordered table-hover">
 
                    <thead>
                        <tr>
                            <th class="table-head head-player" scope="col">
                                <p>Player</p>
                            </th>

                            <th class="table-head head-stats" scope="col">
                                <p class="d-none d-sm-block">Plays</p>
                                <p class="d-block d-sm-none">P</p>
                            </th>

                            <th class="table-head head-stats" scope="col">
                                <p class="d-none d-sm-block">Wins</p>
                                <p class="d-block d-sm-none">W</p>
                            </th>
                            <th class="table-head head-stats" scope="col">
                                <p class="d-none d-sm-block">Draws</p>
                                <p class="d-block d-sm-none">D</p>
                            </th>
                            <th class="table-head head-stats" scope="col">
                                <p class="d-none d-sm-block">Losses</p>
                                <p class="d-block d-sm-none">L</p>
                            </th>
                        </tr>
                    </thead>
            
                    <tbody>
                        <% if (result) { %>
                            <% result.map(player => { %>
                                <tr>
                                    <td><%= player.username %></td>
                                    <td><%= player.plays %></td>
                                    <td><%= player.wins %></td>
                                    <td><%= player.draws %></td>
                                    <td><%= player.losses %></td>
                                </tr>
                            <% }) %>
                        <% } %>
                    </tbody>
            
                </table>

            </div>
            
            <% if (result.length === 0) { %>
                <p class="noplayers-msg"><%- noPlayers %></p>
            <% } %>
            
        </div>

        <div class="row d-block d-sm-none d-flex justify-content-center text-center">

            <div class="description col-11">
                <ul>
                    <li class="list-group-item">P  -  Plays</li>
                    <li class="list-group-item">W  -  Wins</li>
                    <li class="list-group-item">D  -  Draws</li>
                    <li class="list-group-item">L  -  Losses</li>
                </ul>
            </div>

        </div>
    
    </div>

</div>